
.form-krs {
    display: flex;
}

.context-data {
    width: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-style: groove;
    border-radius: 10px;
}

.title-context {
    justify-content: flex-start;
    display: flex;
    background-color: #F0950E;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
}

.hr-title {
    margin: 0px;
    margin-bottom: 20px;
}

.icon {
    margin-left: 50px;
    cursor: pointer;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: black;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: black;
}

.dropdown-toggle {
    background-color: #F0950E !important;
    margin-left: 150px;
}

.uncontrolledDropdown {
    display: flex;
    justify-content: center;
}

.line-chart {
    margin-top: 100px;
}