@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.title {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.title2 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #ffffff;
    font-family: Arial;
    color: #fff;
    font-size: px;
    background-color: #F0950E;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn:hover {
    background: #cc7a06;
    text-decoration: none;
    color: #fff;
  }