@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.title {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.title2 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.title3 {
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.btn {
    text-shadow: 1px 1px 3px #ffffff;
    color: #fff;
    font-size: px;
    background-color: #F0950E;
    padding: 10px 20px 10px 20px; 
  }
  
  #btnAdmin:hover {
    background: #cc7a06;
    text-decoration: none;
    text-decoration-line: none;
  }

  #btnAdmin {
    text-shadow: 1px 1px 3px #ffffff;
    font-size: px;
    background-color: #F0950E;
    padding: 10px 20px 10px 20px;
  }

  .centrar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .colorsito {
    color: #ffffff,
   }
   
